<div class="po-wrapper">

    <po-menu p-filter="true" [p-menus]="[{ label: 'Home', link: '/',icon: 'po-icon-home' },{ label: 'Pedidos', link: '/pedidos',icon: 'po-icon-news' }]">


    </po-menu>

    <router-outlet></router-outlet>

    <po-page-default p-title="Pedidos">
        <po-table  [p-columns]="columns" 
        [p-items]="data" 
        [p-auto-collapse]="false"
        p-selectable="true"
        [p-hide-columns-manager]="true"
        [p-hide-select-all]="true"
        [p-hide-text-overflow]="false"
        [p-sort]="true"
        [p-striped]="false" >
     
   
       

    </po-table>
        <po-modal  p-size="auto" p-title="Alteração de data cirurgia" >
           
           
            <po-datepicker
            class="po-md-9"
            [name]="novadata"
            p-auto-focus="true"
            p-clean
            
            p-label="Nova data"
            [(ngModel)] = "novadata"
        >
        
        </po-datepicker>
        <po-modal-footer [p-disabled-align]="false">
        <po-button  p-kind="primary" p-label="Salvar" (p-click)="confirmFruits()"> </po-button>
        <po-button p-danger="true" p-label="Fechar" (p-click)="closeModal()"> </po-button>
        </po-modal-footer>
      </po-modal>
  
    </po-page-default>
   

</div>
